@font-face {
  font-family: Avenir-Light;
  src: url(/fonts/AvenirLTStd-Light.otf);
}

@font-face {
  font-family: Avenir-Book;
  src: url(/fonts/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: Avenir-Roman;
  src: url(/fonts/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: Avenir-Medium;
  src: url(/fonts/Avenir-Medium.ttf);
}

@font-face {
  font-family: Avenir-Heavy;
  src: url(/fonts/Avenir-Heavy.ttf);
}

body {
  margin: 0;
  padding: 30px 90px 0 90px;
}

header img {
  width: 20%;
}

#bar-header {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 2px;
  background-color: black;
}

#bar-footer {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 60px;
}

footer {
  margin-top: 80px;
}

.informations {
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
}

.contact,
.adress {
  display: flex;
  justify-content: center;
  height: 27px;
}

#icon-footer {
  padding-right: 20px;
}

#adress,
#num {
  font-family: Avenir-Heavy;
  font-size: 18px;
  color: #5c61da;
  text-decoration: none;
}

.product {
  text-decoration: none;
  color: black;
}

#brand-product {
  font-family: Avenir-Medium;
}

#price-product {
  font-family: Avenir-Light;
  color: #3d3d3d;
  padding-top: 4px;
}

#haircut-info {
  font-family: Avenir-Book;
  margin-top: -15px;
}

.info,
.describe {
  font-family: Avenir-Book;
  margin-top: -8px;
}

.product {
  width: 25%;
  min-width: 30ch;
  height: 100%;
  margin: auto;
  padding-right: 30px;
  margin: 0;

  cursor: pointer;
}

.image-container {
  display: flex;
}

#product-image {
  width: 116px;
  height: 166px;
  margin-top: 10px;
  margin: auto;
}

@media screen and (max-width: 1050px) {
  header img {
    width: 21%;
  }
}

@media screen and (max-width: 900px) {
  body {
    padding: 30px 60px 0 60px;
  }

  header img {
    width: 23%;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding: 20px 40px 0 40px;
  }

  header img {
    width: 25%;
  }

  #icon-footer {
    padding-right: 5px;
  }

  #icon-footer {
    width: 20px;
  }

  #adress,
  #num {
    font-size: 0.8rem;
    margin-top: 3px;
  }

  #bar-footer {
    margin-bottom: 30px;
  }

  footer {
    margin-top: 80px;
  }

  .informations {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 530px) {
  body {
    padding: 20px 30px 0 30px;
  }

  header img {
    width: 30%;
  }

  #bar-header {
    margin: 15px 0;
  }
}

@media screen and (max-width: 500px) {
  .informations {
    display: grid;
  }

  .adress {
    margin-top: 10px;
  }

  #adress {
    margin-top: 3px;
  }
}

@media screen and (max-width: 470px) {
  header img {
    width: 35%;
  }
}
