@font-face {
  font-family: Avenir-Light;
  src: url(fonts/Metropolis-Light.otf);
}

@font-face {
  font-family: Avenir-Book;
  src: url(fonts/TTNorms-Regular.otf);
}

@font-face {
  font-family: Avenir-Medium;
  src: url(fonts/Metropolis-Medium.otf);
}

@font-face {
  font-family: Avenir-Heavy;
  src: url(fonts/Metropolis-SemiBold.otf);
}

body {
  margin: 0;
  padding: 30px 90px 0 90px;

  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, Opéra */
  -ms-user-select: none; /* Internet explorer, Edge */
  user-select: none; /* Propriété standard */
}

#bar-header {
  margin-top: 30px;
  width: 100%;
  height: 2px;
  background-color: black;
}

#bar-footer {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 60px;
}

footer {
  margin-top: 100px;
}

.informations {
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
}

.contact,
.adress {
  display: flex;
  justify-content: center;
  height: 27px;
}

#icon-footer {
  padding-right: 20px;
}

#adress,
#num {
  font-family: Avenir-Heavy;
  font-size: 18px;
  color: #5c61da;
  text-decoration: none;
}

#brand-product {
  font-family: Avenir-Medium;
}

#price-product {
  font-family: Avenir-Light;

  color: #3d3d3d;
}

#haircut-info,
.info,
.describe {
  font-family: Avenir-Book;
  margin-top: -15px;
}

.product {
  width: 276px;
  height: 278px;
  margin: auto;

  cursor: pointer;
}

#product-image {
  width: 116px;
  height: 166px;
  margin: 10px 80px 0 80px;
}
