.landingpage {
  display: flex;
  flex-direction: column;
}

.presentation {
  margin-top: 80px;
  margin-bottom: 80px;

  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#presentation-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  --text-width: 30%;
}

.presentation-texts {
  margin-right: 2rem;
  width: var(--text-width, 30%);
  margin-top: 30px;
  margin-bottom: 30px;
}

.presentation-texts h1 {
  margin-top: -5px;
}

.presentation-texts p {
  font-family: Avenir-Roman;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.presentation-texts p:last-child {
  margin-bottom: 0;
}

.violet {
  font-family: Avenir-Medium;
  color: #5c61da;
}

#size-pic {
  width: calc(100% - var(--text-width, 30%) - 10%);
  height: 100%;
  position: absolute;
  left: calc(var(--text-width, 30%) + 10%);
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  margin: 0;
  font-size: 2rem;
  font-family: Avenir-Heavy;
}

.choices {
  padding: 40px 80px 40px 80px;
  display: flex;
  justify-content: space-around;
}

#men,
#women {
  border: none;
  border-bottom: solid 2px;
  background-color: transparent;
  cursor: pointer;
  font-family: Avenir-Medium;
  font-size: 1.75rem;
  border-color: transparent;
  color: #5c61da;
  padding-left: 0px;
  padding-right: 0px;
}

#women:after,
#men:after {
  display: block;
  content: '';
  margin-bottom: -3px;
  border-bottom: solid 2px;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

#women:hover:after,
#men:hover:after {
  transform: scaleX(1);
}

#women:after,
#men:after {
  transform-origin: 0% 50%;
}

#women-price,
#men-price {
  padding: 0 80px 0 80px;
}

#women-price.visible {
  visibility: visible;
  position: none;
  opacity: 1;
  transition: opacity 0.7s ease;
}

#men-price.visible {
  opacity: 1;
  transition: opacity 0.7s ease;
}

#women-price.hidden,
#men-price.hidden {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

#women.active,
#men.active {
  border-color: #5c61da;
  opacity: 1;
  transition: opacity 0.7s ease;
}

.line {
  display: flex;
  justify-content: space-between;
  text-align: center;

  font-size: 1.25rem;
}

.name {
  font-family: Avenir-Roman;
}

.price {
  font-family: Avenir-Light;
  color: #141414;
}

.little-bar {
  width: 100%;
  height: 2px;
  background-color: #b8b8b8;
  margin: 0px;
}

.button-show-more {
  display: flex;
  justify-content: center;
}

.h1-space {
  margin-top: 80px;
}

.products {
  padding: 40px 80px 20px 80px;
  display: flex;
  justify-content: space-between;
}

.product:last-child {
  padding-right: 0px;
}

.line-product {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 5px;
}

#show-more {
  margin-top: 10px;
  font-size: 1.125rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: Avenir-Medium;
  color: #5c61da;
  padding: 0px;
}

.block {
  margin: 40px 80px 0 80px;
}

.avis {
  display: flex;
}

#name {
  font-family: Avenir-Medium;
  font-size: 1.375rem;
  margin: 0;
}

#star {
  margin-left: 40px;
}

.avis img {
  margin-right: 4px;
}

.comment {
  font-family: Avenir-Book;
  font-size: 1.125rem;
  line-height: 30px;
  height: 115px;
}

.apostrophe {
  font-family: Avenir-Roman;
  font-size: 1.5rem;
}

.carousel {
  display: flex;
  justify-content: center;
  margin-top: -5px;
}

.carousel-button {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: #b8b8b8;
  margin-right: 40px;
  cursor: pointer;
}

.carousel-button.classic {
  background-color: #b8b8b8;
}

.carousel-button.select {
  background-color: #5c61da;
}

.place {
  margin-top: 80px;
  display: flex;
}

.hours {
  width: 40%;
  height: 100%;
  margin-left: 0;
  margin-right: auto;
}

h2 {
  margin-top: 0;
  font-size: 1.5rem;
  font-family: Avenir-Medium;
}

.line-hours {
  display: flex;
  justify-content: space-between;
  height: 1.688rem;
  margin-bottom: 1.188rem;
}

.day {
  font-family: Avenir-Medium;
  font-size: 1.125rem;
}

.hour {
  font-family: Avenir-Light;
  font-size: 1.188rem;
}

iframe {
  margin-right: 0;
  margin-left: auto;
  width: 50%;
}

@media screen and (max-width: 1297px) {
  .comment {
    height: 155px;
  }
}

@media screen and (max-width: 1050px) {
  header img {
    width: 21%;
  }

  h1 {
    font-size: 1.8rem;
  }

  #men,
  #women {
    font-size: 1.5rem;
  }

  .presentation-texts p {
    font-size: 90%;
  }

  .line p,
  #haircut-info p {
    font-size: 80%;
  }

  #women-price.visible,
  #men-price.visible {
    padding: 0 70px 0 70px;
  }

  .choices {
    padding: 30px 70px 30px 70px;
  }

  .products {
    padding: 30px 70px;
  }

  .line-product {
    font-size: 1.15rem;
  }

  .product {
    font-size: 97%;
  }

  .block {
    margin: 40px 70px 30px 70px;
  }

  #presentation-container {
    --text-width: 35%;
  }
}

@media screen and (max-width: 1010px) {
  .product {
    padding-right: 0px;
  }
}

@media screen and (max-width: 990px) {
  .products {
    font-size: 85%;
  }
  #product-image {
    width: 88px;
    height: 126px;
  }
}

@media screen and (max-width: 960px) {
  .comment {
    height: 170px;
  }
}

@media screen and (max-width: 900px) {
  body {
    padding: 30px 60px 0 60px;
  }

  header img {
    width: 23%;
  }

  .presentation-texts {
    margin: 10px 0;
  }

  #presentation-container {
    --text-width: 30%;
  }

  #women-price.visible,
  #men-price.visible {
    padding: 0 50px 0 50px;
  }

  .choices {
    padding: 30px 50px 30px 50px;
  }

  .products {
    padding: 30px 50px 10px 50px;
  }

  .block {
    margin: 40px 50px 0 50px;
  }

  #haircut-info {
    font-size: 85%;
    margin-top: -10px;
  }

  #show-more {
    font-size: 95%;
  }

  h2 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 814px) {
  .products {
    font-size: 80%;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding: 20px 40px 0 40px;
  }

  .presentation {
    margin-bottom: 0;
  }

  header img {
    width: 25%;
  }

  #presentation-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .presentation-texts {
    width: 100%;
    margin: 30px 0 50px 0;
  }

  .presentation-texts h1 {
    margin: 0 0 20px 0;
  }

  h1 {
    font-size: 1.6rem;
  }

  .h1-space {
    margin: 50px 0 20px;
  }

  .presentation-texts p {
    margin: 0 30px 15px 30px;
  }

  .picture {
    content: url(/image/shop-mobile.webp);
  }

  .block {
    margin: 0 30px;
  }

  #size-pic {
    margin-top: -70px;
    width: 100%;
    position: relative;
    left: 0;
  }

  #women-price.visible,
  #men-price.visible {
    padding: 0 30px 0 30px;
  }

  #men,
  #women {
    font-size: 1.3rem;
  }

  .choices {
    padding: 20px 0;
  }

  .products {
    display: none;
  }

  .comment {
    height: 180px;
    font-size: 98%;
  }

  #name {
    font-size: 1.2rem;
  }

  .place {
    margin-top: 50px;
  }

  h2 {
    font-size: 1.2rem;
  }

  .day {
    font-size: 1.05rem;
  }

  .hour {
    font-size: 1.1rem;
  }

  iframe {
    width: 55%;
  }

  #icon-footer {
    padding-right: 10px;
  }

  #icon-footer {
    width: 20px;
  }

  #adress,
  #num {
    font-size: 0.9rem;
    margin-top: 3px;
  }
}

@media screen and (max-width: 609px) {
}

@media screen and (max-width: 587px) {
  #haircut-info {
    font-size: 70%;
    margin-top: -8px;
  }
}

@media screen and (max-width: 530px) {
  body {
    padding: 20px 30px 0 30px;
  }

  .presentation {
    margin-bottom: 0;
  }

  header img {
    width: 30%;
  }

  #bar-header {
    margin: 15px 0;
  }

  .presentation-texts {
    margin: 15px 0 50px 0;
  }

  h1 {
    font-size: 1.4rem;
  }

  #men,
  #women {
    font-size: 1.25rem;
  }

  .line p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 470px) {
  header img {
    width: 35%;
  }

  .presentation-texts p {
    margin: 0 0 10px 0;
  }

  #women-price.visible,
  #men-price.visible {
    padding: 0;
  }
}
