.filters {
  padding: 50px 0 900px 0;
  display: flex;
}

.category,
.brand,
.price {
  display: flex;
  align-items: center;
}

/* summary::after {
  content: ' ►';

}
details[open] summary:after {
  content: ' ▼';

} */

summary {
  list-style: none;
  /* position: relative; */
  border: none;
  margin-bottom: 20px;

  cursor: pointer;

  color: #5c61da;
  background-color: transparent;
  font-family: 'Avenir Heavy';
  font-size: 1.2em;
}

details {
  margin-right: 100px;
}

span {
  display: inline-block;
  margin-left: 30px;
  border-top: 10px solid black;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

span.active  {
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  border-left: 10px solid black;
}

li {
  list-style: none;
  cursor: pointer;
  position: relative;

  border: none;
  border-bottom: solid 2px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  width: max-content;

  border-color: transparent;
}

li:after {
  color: #5c61da;

  display: block;
  content: '';
  border-bottom: solid 2px;

  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

li:hover:after {
  transform: scaleX(1);
}

li:after {
  transform-origin: 0% 50%;
}
