.filters {
  padding: 50px 0 100px 0;
  display: flex;
  justify-content: space-between;
}

.classics-menus {
  display: flex;
}

.menu {
  margin-right: 100px;
}

h3 {
  color: #5c61da;
  background-color: transparent;
  font-family: Avenir-Heavy;
  font-size: 1.2em;
  margin: 0;
  cursor: pointer;
}

span {
  display: inline-block;
  margin-left: 30px;
  border-top: 10px solid black;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  transition: transform 200ms ease-in-out;
}

#default {
  display: none;
}

#default.visible {
  display: flex;
}

#span-price.filter,
#span-category.filter {
  transform: rotate(90deg);
}

ul {
  padding: 0;
  margin-top: 15px;
  max-height: 0;
  position: absolute;

  overflow: hidden;
}

#ul-category.filter,
#ul-price.filter {
  height: max-content;
  max-height: 100%;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

li {
  border: none;
  border-bottom: solid 2px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 8px;
  width: max-content;

  border-color: transparent;
  list-style: none;
  cursor: pointer;
  font-family: Avenir-Book;
}

li:last-child {
  margin-bottom: 0px;
}

li:after {
  color: #5c61da;

  display: block;
  content: '';
  box-sizing: 100px;
  border-bottom: solid 2px;

  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

li:hover:after {
  transform: scaleX(1);
}

li:after {
  transform-origin: 0% 50%;
}

.products {
  padding: 0 50px 0 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 90px;
}

.line-product {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
}

.product-page {
  margin: -30px -90px 0 -90px;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
  align-items: center;
}

.product-page.open {
  display: flex;
  z-index: 1;
}

body.hidden {
  overflow: hidden;
}

.container {
  position: relative;
  background-color: white;
  border-radius: 4px;
  margin-left: 200px;
  margin-right: 200px;
  width: 100%;
  height: fit-content;
}

.show-product {
  display: flex;
}

#cross {
  width: 20px;
  height: 20px;

  position: absolute;

  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url('/image/icon/cross.svg');
}

#cross:hover {
  background-image: url('/image/icon/cross-violet.svg');
}

.show-product img {
  width: 325px;
  height: 470px;
  margin-left: 70px;
}

.right-block {
  margin-left: auto;
  margin-right: auto;
}

#show-brand {
  font-size: 2em;
  font-family: Avenir-Medium;
  color: #5c61da;

  margin: 70px 0 0 0;
}

#show-name {
  font-size: 1.8em;
  font-family: Avenir-Medium;

  margin: 20px 0 10px 0;
}

#show-describe1,
#show-describe2 {
  font-size: 1.5em;
  font-family: Avenir-Book;

  margin-bottom: -10px;
}

.show-info {
  display: flex;
  margin: 40px 0 35px 0;
}

#show-price {
  font-size: 1.5em;
  font-family: Avenir-Light;

  margin: 0;
}

#show-quantity {
  font-size: 1.2em;
  font-family: Avenir-Light;

  margin: 5px 0 0 7px;
}

.right-block p:nth-child(6) {
  font-family: Avenir-Book;
  font-style: Oblique;
  font-size: 0.9em;

  margin: 0;
}
